* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

label.logo {
    line-height: 80px;
    padding: 0 20px;
}
img{
    width: 15%;
    border: 2px solid white;
    border-radius: 30px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}
section {
    background: url("sign\ up\ 1.jpg")no-repeat;
    background-size: cover;
    height: calc(150vh - 80px);
}
input{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
}
::placeholder{
    color: black;
}
button{
    background: grey;
    width: 25%;
    border: 10px solid grey;
    color: white;
    border-radius: 5px;

}